
.rotated {
  transform: rotate(-45deg); /* Equal to rotateZ(45deg) */
  background-color: #777;
  color: white;
  text-align: center;
  position: relative;
  top: -73px;
  left: -189px;
}
.amount-charity {
  display: flex;
  justify-content: space-evenly;
}
.versus {
  display: flex;
  justify-content: space-evenly;
}
.vs {
  margin-top: 30px;
  margin-bottom: 40px;
}

.versus p,
select {
  display: flex;
  flex-direction: column;
}
.textcentered{
    display: flex;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    /* text-align: center;
    vertical-align: middle; */
    border-radius: 50%;
    background: slategray;
    color: white;
}
.verticalLine {
  color: black; 2px;
}

.versus h1 {
  /* margin: 0; */
}

input,
select {
  width: 7em;
}
.submit {
  background: slategray;
  color: white;
}

.submit:hover {
  background: darkgray;
  color: white;
}

input:invalid+span:after {
  content: '✖';
  color: red;
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  color: green;
  padding-left: 5px;
}

.row {
  margin: 20px;
}

.container {

  margin: auto;
}
.signup-container{
  display: flex;
  justify-content: space-evenly;
  outline-color: black; 2px
  margin: 20px;
}

.about {
  height: 100vh;
  padding-top: 63px;
}

#about-p {
  font-size: 2em;
}

.preamble {
  margin: 8em 2em;
}

#games-list {
  margin-top: 140px;
}


/* Nav1 */

            #nav1 ul{
                list-style-type: none;
            }
            #nav1 ul li{
                display: inline-block;
                background: linear-gradient(#E1E1E1,#CECECE,#696969);
                padding: 10px 0px;
                box-shadow: 0px 4px 3px #000000;
            }
            #nav1 ul li:first-child{
                border-radius: 10px 0 0 10px;
            }
            #nav1 ul li:last-child{
                border-radius: 0 10px 10px 0;
            }
            #nav1 ul li a{
                color: #000000;
                text-decoration: none;
                font-size: 20px;
                padding: 7px 25px 10px 25px;
                transition: all 0.1s ease;
            }
            #nav1 ul li a:hover{
                color: #ffffff;
                text-decoration: none;
                border-radius: 25px 25px 0 0 ;
                background: #000000;
            }
