
.rotated {
  transform: rotate(-45deg); /* Equal to rotateZ(45deg) */
  background-color: #777;
  color: white;
  text-align: center;
  position: relative;
  top: -73px;
  left: -189px;
}
.amount-charity {
  display: flex;
  justify-content: space-evenly;
}
.versus {
  display: flex;
  justify-content: space-evenly;
}
.vs {
  margin-top: 30px;
  margin-bottom: 40px;
}

.versus p,
select {
  display: flex;
  flex-direction: column;
}
.textcentered{
    display: flex;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    /* text-align: center;
    vertical-align: middle; */
    border-radius: 50%;
    background: slategray;
    color: white;
}
.verticalLine {
  color: black; 2px;
}

.versus h1 {
  /* margin: 0; */
}

input,
select {
  width: 7em;
}
.submit {
  background: slategray;
  color: white;
}

.submit:hover {
  background: darkgray;
  color: white;
}

input:invalid+span:after {
  content: '✖';
  color: red;
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  color: green;
  padding-left: 5px;
}

.row {
  margin: 20px;
}



/* .container {
  margin: auto;
}
.signup-container{
  display: flex;
  justify-content: space-evenly;
  outline-color: black; 2px
  margin: 20px;
}

.about {
  height: 100vh;
  padding-top: 63px;
}

#about-p {
  font-size: 2em;
}

.preamble {
  margin: 8em 2em;
}

#games-list {
  margin-top: 140px;
} */

////contact form///////

.contact-form {
  display: flex;
  background-color: grey;
  color: black;
	width: 60%;
	margin: auto;
	padding: 10px;

}
.legend {
	font-size: 1.5em;
	text-transform: uppercase;
}
.fieldset {
	border: none;
	border-bottom: 1.5px solid grey;
	width: ;

}

fieldset *{
	display: block;
	width: 100%;
	margin: 3px;
	padding: 5px;


}
input[type="text"], input[type="email"]{
	border-radius: 4px;
	font-size: 1em;
	width: 100%;

}

input[type="text-area"]
{
	width: 100%;
}

.radio-wrapper *{
	display: inline;

}
button {
	display: inline;
	background-color: gold;
	color: white;
	padding: 3px;
	margin: auto;
}
////footer/////

.container footer{
  display: flex;
  width: 70%;
  height: 40px;
  background-color: #888;
  align-items: center;
}

p {
  padding-left: 10%;
  color: black;
  text-transform: capitalize;
  letter-spacing: 1px;
  @media (max-width: 600px) {
  text-align: left;
  padding: 0;
}
